header.header {
    background-color: #FFF;
    padding: 0px 15px;
    overflow: hidden;
    white-space: nowrap;
    border-left: solid 1px rgb(122, 117, 188);
    box-shadow: var(--shadow-header);
}

header.header h1 {
    font-size: 1.8em;
}
